@{
    ViewData["Title"] = "Home Page";
}

<div id="RotationChart">
    <div id="RotationChart_img">
        <img src="~/img/Rotation1.png" class="imga active">
        <img src="~/img/Rotation2.png" class="imga">
        <img src="~/img/Rotation3.jpg" class="imga">
    </div>
    <ul id="RotationChart_title">
        <li class="nr active"></li>
        <li class="nr"></li>
        <li class="nr"></li>
    </ul>
</div>
<div id="Modules">
    <div class="ShowModules Mone">
        <img src="#" />
        <span class="Modules_title">热门话题</span>
        <div class="ShowModules_parts">
            <ul class="ShowModules_lists">
                <li class="ShowModules_lists_items">
                    <div class="ShowModules_lists_info">
                        <a class="info_title">话题</a>
                        <a class="info_content">内容内容内容内容内容内容</a>
                        <a class="info_more">更多...</a>
                    </div>
                </li>
                <li class="ShowModules_lists_items">
                    <div class="ShowModules_lists_info">
                        <a class="info_title">话题</a>
                        <a class="info_content">内容内容内容内容内容内容</a>
                        <a class="info_more">更多...</a>
                    </div>
                </li>
                <li class="ShowModules_lists_items">
                    <div class="ShowModules_lists_info">
                        <a class="info_title">话题</a>
                        <a class="info_content">内容内容内容内容内容内容</a>
                        <a class="info_more">更多...</a>
                    </div>
                </li>
                <li class="ShowModules_lists_items">
                    <div class="ShowModules_lists_info">
                        <a class="info_title">话题</a>
                        <a class="info_content">内容内容内容内容内容内容</a>
                        <a class="info_more">更多...</a>
                    </div>
                </li>
                <li class="ShowModules_lists_items">
                    <div class="ShowModules_lists_info">
                        <a class="info_title">话题</a>
                        <a class="info_content">内容内容内容内容内容内容</a>
                        <a class="info_more">更多...</a>
                    </div>
                </li>
                <li class="ShowModules_lists_items Last_one">
                    <div class="ShowModules_lists_info">
                        <a class="info_title">话题</a>
                        <a class="info_content">内容内容内容内容内容内容</a>
                        <a class="info_more">更多...</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="ShowModules">
        <img src="#" />
        <span class="Modules_title">热门文档</span>
    </div>
    <div class="ShowModules">
        <img src="#" />
        <span class="Modules_title">大佬问答</span>
    </div>
    <div class="ShowModules">
        <img src="#" />
        <span class="Modules_title">模块4</span>
    </div>
</div>


<script src="~/js/jquery-3.5.1.min.js"></script>
<script src="~/js/RotationPic.js"></script>